# Folders #
############

api/db_rest/
!api/nodeapp/node_modules/.gitkeep
api/nodeapp/node_modules/*
api/conf/
api/nodeapp/out/
api/nodeapp/.env



!api/nodeapp/public/files/.gitkeep
api/nodeapp/public/files/*

!app/app/node_modules/.gitkeep
app/app/node_modules/*
app/app/.next/
app/app/out/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
